@import "tailwindcss";

:root {
    --cor-primaria: #3F4EA6;
    --cor-primaria-hover: #3f4fa6af;
    --cor-primaria-light: #333
    --cor-segundaria: #52F2F2;
    --cor-botoes: #F2994B;
    --cor-botoes-hover: #f2994baf;
}