@import "tailwindcss";

/* Troquei as cores baseados em celeste, so porque eu zerei ele recentemente, pedi pro chat as cores predominantes e mandei bala :p */
/* Qualquer coisa pode trocar se quiser */
:root {
  --cor-primaria: #5ef1cb;
  --cor-primaria-hover: #5ef1cab6;
  --cor-primaria-light: #333;
  --cor-segundaria: #3a92b3;
  --cor-botoes: #FF8B55;
  --cor-botoes-hover: #FF8B55af;
}
